/*----NAV LINK HOVER ANIMATION -----*/
/*---- from desiree de leon's github -----*/
.nav-link:hover {
    color: #F76497 !important;
  }

/* stroke */
  
a.nav-link,
a.nav-link:after,
a.nav-link:before {
  transition: all .5s;
}

a.nav-link {
  position: relative;
}

a.nav-link:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.'; /* make invisible, dot beneath links */
    color: transparent;
  background: #F76497;
    height: 2px;
}

a.nav-link:hover:after {
  width: 70%;
}



/*---------- BASIC STYLING -------------*/
html {
  scroll-behavior: smooth;
}

  
  
h1, h2, h3, h4 {
  text-transform: lowercase;
  /*color: #a8dadc !important; /* light blue */  
  color: DarkTurquoise !important;
}


/* -----------div tips------------- */

/* comment div: appears to right of article*/
div.comment{
  float: right;
  position: absolute;
  color: #00b4c4;
  padding: 1.5em;
  overflow: hidden;
  margin-left: 50%;
}

/* Can't figure out how to make the div disappear */
/* when it overlaps post content. */
/* Instead, div.comment won't appear on small screens */
/* i.e. smaller than 1080px (i.e. most mobile devices) */
@media all and (max-width: 1080px) {
  .comment { display: none; }
}


/* comments/asides in main post body section (-article-container) */
div.aside{
  float: right;
  color: #00b4c4;
  font-size: smaller;
  max-width: 25%;
  margin-left: 2em;
}



/* ------- from desiree de leon's blogpost ------ */


div.puzzle, div.fyi, div.demo, div.note {
    padding: 1em;
    margin: 1em 0;
    padding-left: 100px;
    background-size: 70px;
    background-repeat: no-repeat;
    background-position: 15px center;
    min-height: 120px;
    color: #ffffff;
    background-color: #1C1F2B;
    border: solid 3px #2D3143;
  }

div.puzzle {
  background-image: url("../divtipicons/Your-turn.png");
}

div.fyi {
 background-image: url("../divtipicons/fyi.png");
}

div.demo {
  background-image: url("../divtipicons/Live-code.png");
}

div.note {
  background-image: url("../divtipicons/Lightbulb.png");
}




/*---------ANCHOR LINKS------------*/
/*------https://ericbryantphd.com/2020/01/13/add-section-links-in-blogdown/#my-solution-------*/
.section-anchor {
  font-size: 0.5em;
  vertical-align: super;
}



.fa-link{
  color: #666369;
}
.fa-link:hover {
    color: #F76497;
}

/* stroke */
  
.fa-link,
.fa-link:after,
.fa-link:before {
  transition: all .25s;
}





/* --------Blog posts--------- */
  /* from desiree de leon */
  
.article-style .section.level1 h1 {  
 padding-top: 2em;  
 padding-bottom: .5em;  
 /*font-weight: 700;  */
}  

.article-style .section.level2 h2,  
.article-style .section.level3 h3 {
 padding-top: 2em;  
 padding-bottom: .5em;  
}

.article-style .section p,
.article-style .section ul,
.article-style .section li{
  font-size: large;
}

/* 
/* /* Links within blog posts */

.article-style .section a{  
    color: #F76497;  
}  

.article-style .section a:hover {  
  color: #DCA0B2;  
  text-decoration: none;
} 



/* -------About/Home Section-------- */
  
   .home-section.wg-about { 
     padding-top: 50px;
     margin-top: 0px; 
     /*box-shadow: 0px -50px 50px 50px rgba(252, 252, 252, 1); */
  
   }

  #about .portrait-title h2 {   
   margin-top: 50px;   
   margin-bottom: 30px;    
 }  





/*----------   ABOUT  ----------*/
  
#about .portrait-title h3 {  
text-transform: lowercase !important;  
/*font-family: "Open Sans";  */
margin-top: 10px;  
}  




/*----------   PROJECTS   ----------*/

/*  keeps featured.jpg pictures from destroying even spacing   */
#projects .stream-item{
  padding-block-start: 25px;
  padding-block-end: 25px;
}

/* MOBILE PROJECTS PAGE */
/* Adds small gap between feature img and Title */
#projects .col-12.col-md-6{
  padding-top: 20px;
}
